.scrollbar {
    overflow-y: auto;
}

#ex3::-webkit-scrollbar {
    width: 5px;
    background-color: #cccccc;
    border-radius: 30px;
    position: absolute;
    left: 10px;
}

#ex3::-webkit-scrollbar-thumb {
    background-color: #747474;
    border-radius: 30px;
}
